In [6]:
from pydataset import data
import pandas as pd
import numpy as np
from scipy import stats
from statsmodels.formula.api import ols

In [11]:
df = data('tips')

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

In [17]:
x = tips[['total_bill']]
y = tips[['tip']]
x_y = x.join(y)
x_y.head()

   total_bill   tip
1       16.99  1.01
2       10.34  1.66
3       21.01  3.50
4       23.68  3.31
5       24.59  3.61

In [23]:
regr = ols('tip ~ total_bill', data=x_y).fit()
regr

In [24]:
x_y['yhat'] = regr.predict(df.total_bill)

In [25]:
x_y['yhat']

1      2.704636
2      2.006223
3      3.126835
4      3.407250
5      3.502822
6      3.576340
7      1.841335
8      3.743329
9      2.499838
10     2.472532
11     1.998871
12     4.623434
13     2.539748
14     2.855871
15     2.477783
16     3.186699
17     2.005173
18     2.631119
19     2.702536
20     3.089026
21     2.802309
22     3.051217
23     2.576506
24     5.060336
25     3.001856
26     2.790756
27     2.324447
28     2.253031
29     3.199302
30     2.984001
31     1.923254
32     2.847470
33     2.501939
34     3.093227
35     2.787606
36     3.447160
37     2.633219
38     2.698335
39     2.883178
40     4.204386
41     2.604863
42     2.753998
43     2.384311
44     1.936907
45     4.113015
46     2.841168
47     3.254965
48     4.323064
49     3.918720
50     2.814912
51     2.237277
52     2.000972
53     4.576173
54     1.964213
55     3.604696
56     2.967197
57     4.912252
58     3.693967
59     2.100745
60     5.989803
61     3.051217
62     2.370658
63     2.077640
64     2.841168
65     2.767651
66     3.029162
67     2.647923
68     1.242695
69     3.044916
70     2.496688
71     2.182664
72     2.713038
73     3.741228
74     3.575289
75     2.467281
76     2.024077
77     2.802309
78     3.776936
79     3.310628
80     2.736144
81     2.961946
82     2.669978
83     1.977867
84     4.352471
85     2.598561
         ...
160    2.652124
161    3.178297
162    2.249880
163    2.622717
164    2.370658
165    2.759249
166    3.495471
167    3.100579
168    4.250597
169    2.032479
170    2.036680
171    6.256565
172    2.580707
173    1.681697
174    4.265300
175    2.686782
176    4.375576
177    2.799158
178    2.441025
179    1.928505
180    4.557269
181    4.559369
182    3.370492
183    5.683131
184    3.353688
185    5.179014
186    3.093227
187    3.115282
188    4.119316
189    2.826465
190    3.346336
191    2.568104
192    3.000805
193    3.907167
194    2.546049
195    2.661576
196    1.714255
197    2.006223
198    5.447877
199    2.285588
200    2.339151
201    2.885278
202    2.258282
203    2.285588
204    2.642672
205    3.076423
206    2.650023
207    3.712872
208    4.987869
209    3.469215
210    2.260382
211    4.077307
212    3.639354
213    5.996105
214    2.313945
215    3.878810
216    2.275086
217    3.876710
218    2.137504
219    1.733159
220    4.085709
221    2.197368
222    2.329699
223    1.821380
224    2.598561
225    2.329699
226    2.629019
227    1.979967
228    3.068021
229    2.314995
230    3.243412
231    3.441908
232    2.568104
233    2.139604
234    2.051384
235    2.551300
236    1.977867
237    2.243579
238    4.368225
239    4.683298
240    3.969131
241    3.774836
242    3.301175
243    2.791807
244    2.892630
Name: yhat, Length: 244, dtype: float64